

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-stock>
        <h1>Hisse Verilerini DB'ye Gönder</h1>
      </app-stock>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-12">
      <app-stock-chart>
        <h1>Hisse Fiyat-Tarih Grafiği</h1>
      </app-stock-chart>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-12">
      <app-stock-list>
        <h1>Hisse Fiyat-Tarih Tablosu</h1>
      </app-stock-list>
    </div>
  </div>
</div>